Django==5.1.7
django-cors-headers
django-apscheduler
APScheduler

google-genai
openai

langchain
langchain-community
langchain-google-genai
langchain-openai
langgraph

tavily-python
chromadb
pydantic

pandas
numpy
python-dotenv
requests
tqdm

selenium
beautifulsoup4
emoji
undetected-chromedriver

gunicorn